/*
==========================================================================
Grid Settings
==========================================================================
*/

$max-width: 1280px;
$columns: 12;
$gutter: 20px;
$padding: 0;

/*
==========================================================================
Colors
==========================================================================
*/

$base-color: #2c76a4;
$primary-color: #ff00ff; // hotpink
$secondary-color: #00ffff; // cyan